* {
	box-sizing:border-box;
	-webkit-user-select: none;
}

body{
	font-size:12px;
	color:#252525 ;
	padding: 0;
	margin: 0;
	text-shadow: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	background: #EFEFEF;
	min-width: 250px;
	box-sizing:border-box;
}

a{text-decoration: none;cursor:pointer;color:#0000FF;}
a:focus,a:active {color:#FF0000}
#header {
	position: relative;
	height: 40px;
	background-color: #81D4FA;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}
#header_text {
	font-size: 18px;
	vertical-align: middle;
	line-height: 40px;
}
#overlay, #qrCode {cursor: pointer;}

#overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

#qrCode {
	position: absolute;
	box-shadow: 0 0 20px #000000;
	z-index: 999;
	background-color: #FFFFFF;
	padding: 5px;
}
#content {
	background-color: #FFFFFF;
	margin: 0 10px;
	padding-top: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#url_output {
	text-align: center;
	font-size: 16px;
}
#button_content, #button_container_overlay {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
}
#button_content {
	background-color: #686868;
	margin-top: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.32) inset;
	text-align: center;
}
#button_container, #button_container_overlayContainer {
	width: 100%;
	text-align: center;
}
#button_container_overlay {
	position: relative;
	margin-top: -50px;
	background: #0288D1;
}

#button_container_overlayText {
	color: #FFFFFF;
	font-size: 14px;
	cursor: default;
}
#button_clipboard {
	background: url("../img/ic_copy.png") no-repeat;
}
#button_qr {
	background: url("../img/ic_qr.png") no-repeat;
}
#button_clipboard, #button_qr {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-size: 36px;
	cursor: pointer;
	-webkit-transition: all 0.5s;
	-webkit-filter: invert(85%);
}
#button_clipboard:hover, #button_qr:hover {
	-webkit-filter: invert(100%);
}
#option_container {
	padding: 10px;
	text-align: center;
}
#option {
	width: 140px;
}

#option_polr_container {
	display: none;
}

#option_polr_fields {
	display: none;
}

#option_polr_config::before {
	content: attr(data-polr-action);
}

#option_polr_save {
	display: none;
}

#url_output_input {
	position: absolute;
	margin-left: -200vw;
}
#version {
	position: relative;
	display: inline-block;
	left: 50%;
	width: 150px;
	height: 25px;
	margin: 5px auto 10px -75px;
	font-size: 10px;
	font-weight: normal;
	text-align: center;
	line-height: 13px;
	color: #777;
	cursor: default;
}

.nav-active:hover, .nav-active:active, .nav-active:focus{background: -webkit-linear-gradient(top, #e22b27 0%,#c2191e 100%);}
label,input,button,select,textarea{font-size:13px;font-weight:normal;line-height:18px;}
input,button,select,textarea{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
label{display:block;margin-bottom:5px;color:#333333;}
input,textarea,select,.uneditable-input,#polr-url-fakeinput{display:inline-block;width:210px;height:18px;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555555;border:1px solid #cccccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.uneditable-textarea{width:auto;height:auto;}
label input,label textarea,label select{display:block;}
input[type="image"],input[type="checkbox"],input[type="radio"]{width:auto;height:auto;padding:0;margin:3px 0;*margin-top:0;line-height:normal;cursor:pointer;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border:0 \9;}
input[type="image"]{border:0;}
input[type="file"]{width:auto;padding:initial;line-height:initial;border:initial;background-color:#ffffff;background-color:initial;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
input[type="button"],input[type="reset"],input[type="submit"]{width:auto;height:auto;}
select,input[type="file"]{height:28px;*margin-top:4px;line-height:28px;}
input[type="file"]{line-height:18px \9;}
select{width:220px;background-color:#ffffff;}
select[multiple],select[size]{height:auto;}
input[type="image"]{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
textarea{height:auto;}
input[type="hidden"]{display:none;}
input,textarea{-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}
#polr-url-fakeinput.focus,input:focus,textarea:focus{border-color:rgba(82, 168, 236, 0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);outline:0;outline:thin dotted \9;}
input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus{-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
input:focus:required:invalid,textarea:focus:required:invalid,select:focus:required:invalid{color:#b94a48;border-color:#ee5f5b;}input:focus:required:invalid:focus,textarea:focus:required:invalid:focus,select:focus:required:invalid:focus{border-color:#e9322d;-webkit-box-shadow:0 0 6px #f8b9b7;-moz-box-shadow:0 0 6px #f8b9b7;box-shadow:0 0 6px #f8b9b7;}

#polr-url-https {
    float: left;
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
}
#polr-url-field{display:block;overflow:hidden}

#option_polr_url {
    height: 14px;
    width: initial;
    padding: 0px;
    margin: 0px;
    border-radius: initial;
    box-sizing: initial;
    border: 0px solid;
    border-width: inherit;
    outline-width: 0px;
    outline: none;
    padding-top: 0px;
    border-style: none;
    box-shadow: initial;
}

#polr-url-fakeinput {
    padding: 0px;
    margin: 0px;
    text-align: left;
}
